# ebti sample targeted test run

Normalized 30 CSV records from source data.

| "BTI_REFERENCE" | ISSUING_COUNTRY | START_DATE_OF_VALIDITY | END_DATE_OF_VALIDITY | NOMENCLATURE_CODE | CLASSIFICATION_JUSTIFICATION | STATUS | INVALIDATION_REASON | INVALIDATION_JUSTIFICATION | LANGUAGE | PLACE_OF_ISSUE | DATE_OF _ISSUE | NAME_AND_ADDRESS | DESCRIPTION_OF_GOODS | KEYWORDS |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| DEBTI58842/24-1 | DE | 10/03/2025 | 09/03/2028 | 84672110************** | AV 1 / AV 6 / AV 3 b) / AV 5 a)
ZAnm 1 ABS XVI | VALID |  |  | de | HANNOVER | 05/03/2025 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Akku-Bohrschrauber (Abbildung siehe Anlage) 
- bestehend aus einem von Hand zu führenden Gerät mit eingebautem Elektromotor, Schnell-
  spannbohrfutter, Drehmomenteinstellring, Ein-/Ausschalter, Drehrichtungsschalter, 
  LED-Arbeitslicht,  Akkumulator mit Ladezustandsanzeige,
- zum Bohren in verschiedene Materialien (z.B. Holz, Metall, Kunststoff) und Eindrehen sowie
  Lösen von Schrauben,
- geliefert mit verschiedenen auswechselbaren Werkzeugen (40 x Schraub-Bit, 14 x Metallbohrer,
  5 x Holzbohrer, 8 x Steckschlüssel, 1 x Versenker),
- in einer gemeinsamen Verkaufsumschließung mit Bithalter, Zimmermannsbleistift mit Ersatz-
  minen, Cuttermesser, Ankörner, Maßband, Ladegerät und Betriebsanleitung (Beipack),
- in einem für den dauerhaften Gebrauch geeigneten Transportkoffer.
 
 "Von Hand zu führendes Werkzeug mit eingebautem Elektromotor, Bohrmaschinen aller Art, zum Betrieb ohne externe Energiequelle, mit auswechselbarem Werkzeug, in Warenzusammenstellung in Aufmachung für den Einzelverkauf mit nicht charakterbestimmendem Beipack - Akku-Bohrschrauber" | ACCUMULATOR CHARGERS,ACCUMULATORS,BATTERY-OPERATED,BY BATTERY,DRILLING TOOLS,ELECTRIC,FOR DRILLING,FOR WORKING IN THE HAND,MACHINE TOOLS,MECHANICAL,WITH ELECTRIC MOTOR |
| CZBTI34/018997/2025-580000-04/01 | CZ | 10/03/2025 | 09/03/2028 | 8501535010************ | Všeobecná pravidla 1 a 6 pro výklad kombinované nomenklatury.
Poznámka 3 ke třídě XVI.
Vysvětlivky k HS k číslu 8501.
Znění kódů 8501, 8501 53, 8501 53 50 kombinované nomenklatury a Taric kódu 8501 53 50 10. | VALID |  |  | cs | Olomouc | 10/03/2025 | CZ580000 Celní úřad pro Olomoucký kraj
Sladkovského 1213/39
77900 Olomouc
CZ | Dle deklarovaných údajů se jedná o trakční elektrický asynchronní motor s výkonovou elektronikou, který je určen k pohonu elektromobilu. Pohonná jednotka obsahuje také invertor a pracuje jak se stejnosměrným (vstup), tak i se střídavým proudem (výstup). Motor pracuje na střídavý proud a jedná se o třífázovou soustavu.
Technické údaje: 
- střídavý proud v rozsahu 210 - 470 V;
- maximální proud je 380 A;  
- maximální výkon motoru je 80 kW;
- použití jen pro vozy BEV (čistě elektrické). | ALTERNATING CURRENT,ASYNCHRONOUS,BY ELECTRIC MOTOR,DIRECT CURRENT CONVERTERS,DRIVE MECHANISMS,ELECTRIC DRIVE,PRIVATE MOTOR VEHICLES,TRACTION MECHANISMS |
| CZBTI46/175517/2025-300000-ZI/01 | CZ | 30/12/2025 | 29/12/2028 | 87089997************** | Všeobecná pravidla 1, 3 c) a 6 pro výklad kombinované nomenklatury.
Poznámka 3 ke třídě XVII.
Závěr z jednání Výboru pro celní kodex k sazebnímu zařazení zboží k podpoložce 8708 99 97 přijaté na 265. zasedání Výboru pro celní kodex.
Vysvětlivky k HS k číslu 8708.

Všeobecné vysvětlivky k HS ke třídě XVII, odst. III).
Znění kódů 8708, 8708 99, 8708 99 97 kombinované nomenklatury.

Do žadatelem navrženého kódu 8708 80 99 nelze předmětné zboží zařadit, neboť se dle celní nomenklatury nejedná o část a součást závěsného systému motorových vozidel čísel 8701 až 8705. | VALID |  |  | cs | Olomouc | 30/12/2025 | CZ300000 Celní úřad v Ostravě
nám. Sv. Čecha 547/8
70200 Ostrava - Přívoz
CZ | Dle poskytnutých údajů se jedná o izolátor vibrací (silentblock), který je vyrobený z vulkanického kaučuku spojeného s kovem.
Výrobek absorbuje vibrace a snižuje hluk v různých zařízeních, například tlumí vibrace přenášené do karosérie a interiéru nakladačů a rypadel. 

Lze jej také použít v různých zařízeních, jako jsou např. čerpadla, kompresory, generátory, spalovací motory, převodovky, kabiny strojů, atd. | EXCAVATORS,LOADERS,MECHANICAL,OF RUBBER,RUBBER,SILENCERS,SUSPENSION SHOCK-ABSORBERS,WITH METAL |
| DEBTI45911/25-1 | DE | 23/12/2025 | 22/12/2028 | 8507600090************ | AV 1 / AV 6
Anm 3 Kap 85 | VALID |  |  | de | HANNOVER | 19/12/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Hochvoltbatterie (Abbildung siehe Anlage),
- aus einem Lithium-Ionen-Akkumulator mit 184 Akkumulatorzellen in einem spezifisch geformten 
  Gehäuse mit den Abmessungen (LxBxH) ca. 2122﻿,﻿4 mm x 1501 mm x 290﻿,﻿1 mm,
- mit einer Nennkapazität von 139 Ah, einer Nennspannung von 581﻿,﻿44 V und einem Gewicht von 
  ca. 652﻿,﻿8 kg,
- zur Verwendung als Energiequelle in einem E-Fahrzeug.

"Elektrischer Akkumulator, Lithium-Ionen-Akkumulator, keine Ware der TARIC-Codes 8507 6000 10 bis 8507 6000 83" | ACCUMULATORS,FOR MOTOR VEHICLES,IN A HOUSING,LITHIUM,RECHARGEABLE, BATTERIES |
| DEBTI54632/24-1 | DE | 24/02/2025 | 23/02/2028 | 8544429090************ | AV 1 / AV 6
ErlKN Pos 8544 (HS) RZ 01.0 | VALID |  |  | de | HANNOVER | 20/02/2025 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Isoliertes elektrisches Kabel, sog. "EU-Ladekabel",
- an einem Ende mit einem Eurostecker, am anderen Ende mit einem gerätespezifischen  
  Anschlussstück ausgestattet,
- für eine Spannung von weniger als 1000 V,
- zur Verwendung als Stromversorgungskabel für ein Akkumulatorenladegerät (nicht
  Gegenstand dieser vZTA-Entscheidung).

Die Ware ist als "isoliertes elektrisches Kabel, keine Ware der Unterpositionen (HS) 8544 11 bis 8544 30, für eine Spannung von 1000 V oder weniger, mit Anschlussstücken versehen, nicht von den TARIC-Unterpositionen 8544 4210 00 bis 8544 4290 70 erfasst" einzureihen. | ACCUMULATOR CHARGERS,CABLES,CONNECTORS,ELECTRIC,FOR VOLTAGE NOT > 1000 V,INSULATED |
| DEBTI45872/25-1 | DE | 23/12/2025 | 22/12/2028 | 8507600090************ | AV 1 / AV 6
Anm 3 Kap 85 | VALID |  |  | de | HANNOVER | 19/12/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Hochvoltbatterie (Abbildung siehe Anlage),
- aus einem Lithium-Ionen-Akkumulator mit 180 Akkumulatorzellen in einem spezifisch geformten 
  Gehäuse mit den Abmessungen (LxBxH) ca. 2155 mm x ca. 1536 mm x ca. 253 mm,
- mit einer Nennkapazität von 139 Ah, einer Nennspannung von 568﻿,﻿8 V und einem Gewicht von 
  605 kg,
- zur Verwendung als Energiequelle in einem E-Fahrzeug. 

"Elektrischer Akkumulator, Lithium-Ionen-Akkumulator, keine Ware der TARIC-Codes 
  8507 6000 10 bis 8507 6000 83" | ACCUMULATORS,FOR MOTOR VEHICLES,IN A HOUSING,LITHIUM,RECHARGEABLE, BATTERIES |
| DEBTI12351/25-1 | DE | 01/07/2025 | 30/06/2028 | 8424897000************ | AV 1 / AV 6 / AV 3 b) | VALID |  |  | de | HANNOVER | 30/06/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Akku-Farbsprühsystem (Abbildung siehe Anlage)
- bestehend aus einem abnehmbaren Sprühkopf, zwei Düsen für unterschiedliche Lack- 
  und Lasurviskositäten, Farbmengenregulierung, verstellbarer Luftkappe für Vertikal-, 
  Horizontal- und Rundstrahl, Softgriff sowie Farbbehälter mit Deckel und Messskala,
- im maßgebenden Zeitpunkt ohne Akku und Ladegerät,
- dient zum Aufbringen (Sprühen) von Lacken und Lasuren auf kleinen und mittelgroßen
  Arbeitsflächen,
- in einer gemeinsamen Verkaufsumschließung mit Reinigungsbürste, Reinigungsnadel,
  Behälter zur Viskositätsprüfung und einer Bedienungsanleitung (Beipack).
Das Farbsprühgerät bestimmt den Charakter des Ganzen.

"Mechanischer Apparat zum Versprühen von Flüssigkeiten (Warenzusammenstellung in
  Aufmachung für den Einzelverkauf aus einem Farbsprühgerät - charakterbestimmend -
  und Beipack) - Akku-Farbsprühsystem" | BATTERY-OPERATED,BRUSHES,BY BATTERY,COLOUR LAKES,COLOURS,CONTAINERS,ELECTRIC MOTORS,LAC-BASED VARNISHES,NOZZLES |
| DEBTI4106/25-1 | DE | 01/07/2025 | 30/06/2028 | 84818085************** | AV 1 / AV 6 | VALID |  |  | de | HANNOVER | 30/06/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Regel-Absperrklappe 
- aus einem zylindrischen Gehäuse aus Kunststoff in Form eines Rohrabschnitts
  mit innenliegendem Anschlag sowie integrierter Regelmechanik aus Regel-
  element (Klappenblatt), Lagerung und Betätigungsvorrichtung mit Motorhalte-
  platte für Stellmotor,
- zur Integration in die Rohrleitung einer Abluftanlage, zum Regeln des Luft-
  Volumenstroms.

"Armatur und ähnliche Apparate für Rohr- oder Schlauchleitungen, keine Ware der Unterpositionen (KN) 8481 1005 bis 8481 8081, Klappe - Regel-Absperrklappe" | FLAPPERS,FOR BUILDING-IN,MACHINERY,MECHANICAL,OF PLASTICS |
| DEBTI45897/25-1 | DE | 29/12/2025 | 28/12/2028 | 8507600090************ | AV 1 / AV 6
Anm 3 Kap 85 | VALID |  |  | de | HANNOVER | 23/12/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Hochvoltbatterie (Abbildung siehe Anlage),
- aus einem Lithium-Ionen-Akkumulator mit 184 Akkumulatorzellen in einem spezifisch geformten 
  Gehäuse mit den Abmessungen (LxBxH) ca. 2122﻿,﻿4 mm x 1501 mm x 290﻿,﻿1 mm,
- mit einer Nennkapazität von 139 Ah, einer Nennspannung von 581﻿,﻿44 V und einem Gewicht von 
  ca. 653﻿,﻿1 kg,
- zur Verwendung als Energiequelle in einem E-Fahrzeug. 

"Elektrischer Akkumulator, Lithium-Ionen-Akkumulator, keine Ware der TARIC-Codes 8507 6000 10 
  bis 8507 6000 83" | ACCUMULATORS,FOR MOTOR VEHICLES,IN A HOUSING,LITHIUM,RECHARGEABLE, BATTERIES |
| DEBTI34105/25-1 | DE | 23/12/2025 | 22/12/2028 | 85044095************** | AV 1 / AV 6
Anm 3 ABS XVI
ErlKN Pos 8504 (HS) RZ 08.0, 09.0 | VALID |  |  | de | HANNOVER | 19/12/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Elektrischer Stromrichter, sog. "Sanftanlasser", als kombinierte Maschine aus einem Stromrichter (kennzeichnende Haupttätigkeit) und einer Steuerung, im Wesentlichen bestehend aus
- einer Steuereinheit, Thyristoren, Transformatoren, Netzschalter, Bypassschalter sowie weiteren elektronischen Schaltungen in einem Metallschrank als Gehäuse, mit Vakuumschütze, mit Anzeige- und Bedienelementen (u.a. Display, Notaus, Status-LEDs), mit fünf digitalen Eingängen (zwei programmierbar), sieben Relaisausgängen (drei programmierbar), einem Analogausgang, mit Kommunikationsschnittstellen für verschiedene industrielle Datenbusse und Ethernet, mit Datenlogger (Datenerfassung und - aufzeichnung für Diagnosezwecke z.B. von internen Sensoren), nach Anschluss externer Motoren dient die Ware zum 
- Umformen einer Eingangswechselspannung von 3300 V AC / 300 A / 50-60 Hz in eine mittels Phasenanschnitt modulierte dreiphasige Ausgangsspannung zum Antrieb, Begrenzen der Anlauf- sowie der Auslaufspannung angeschlossener Motoren,
- zum Schalten externer Geräte mittels der Relaisausgängen.

Die Ware ist als "elektrischer Stromrichter, kein Akkumulatorenladegerät, kein Gleichrichter, kein Wechselrichter" einzureihen.  | CONTROLLERS,ELECTRIC,ENSEMBLES,FIRMWARE,FOR VOLTAGE > 1000 V,HOUSINGS,OF METAL,STATIC CONVERTERS,THYRISTORS,VOLTAGE CONVERTERS |
| DEBTI45891/25-1 | DE | 29/12/2025 | 28/12/2028 | 8507600090************ | AV 1 / AV 6
Anm 3 Kap 85 | VALID |  |  | de | HANNOVER | 22/12/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Hochvoltbatterie (Abbildung siehe Anlage),
- aus einem Lithium-Ionen-Akkumulator mit 212 Akkumulatorzellen in einem spezifisch geformten 
  Gehäuse mit den Abmessungen (LxBxH) ca. 2155 mm x 1536 mm x 253 mm, 
- mit einer Nennkapazität von 139 Ah, einer Nennspannung von 568﻿,﻿8 V und einem Gewicht von 
  ca. 685 kg,
- zur Verwendung als Energiequelle in einem E-Fahrzeug.

"Elektrischer Akkumulator, Lithium-Ionen-Akkumulator, keine Ware der TARIC-Codes 8507 6000 
  10 bis 8507 6000 83" | ACCUMULATORS,FOR MOTOR VEHICLES,IN A HOUSING,LITHIUM,RECHARGEABLE, BATTERIES |
| DEBTI25507/24-1 | DE | 09/09/2024 | 06/07/2025 | 85371091************** | AV 1 / AV 6 / AV 3 b) / AV 5 b)
ErlKN Pos 8537 (HS) RZ 03.0, 06.0 | INVALID | 64 |  | de | HANNOVER | 05/09/2024 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Sog. "Niederspannungssanftanlasser" (Softstarter), im Wesentlichen bestehend aus einer mit aktiven und passiven Bauelementen bestückten gedruckten Schaltung (u.a. Mikrocontroller) und drei Thyristormodulen in einem nahezu quaderförmigen Gehäuse aus Kunststoff, an der Unterseite mit sechs massiven Anschlussstellen für eine dreiphasige Ein- und Ausgangsspannung von 400 VAC / 410 A / 50-60 Hz, mit elektrischen Anschlüssen (u.a. analoge und digitale Ein- und Ausgänge, Ausgangsrelais), mit Software (=speicherprogrammierbar), mit einem LED-Display mit vier Bedientasten und Status-LED´s, mit Sensoren (u.a. Temperaturfühler, Strom- und Spannungssensoren), nach Einbau und Parametrierung dient die Ware zum materialschonenden Starten und Stoppen angeschlossener externer Geräte (z.B. Pumpen, Motoren, nicht Gegenstand dieser vZTA-Entscheidung),
- ohne Stromrichtertätigkeit der Position 8504,
- zum Parametrieren und Anzeigen von Betriebsinformationen mittels LED-Anzeige und Bedientasten,
- zum Begrenzen des Anlaufs- und Auslaufsstroms mittels Schalten der Thyristormodule,
- zum Schalten und Steuern mittels der programmierbaren Ausgangsrelais und Ausgabe analoger und digitaler Signale an externe Geräte (z.B. Steuerungen oder Anzeigen, nicht Gegenstand dieser vZTA-Entscheidung),
- mit einer nicht charakterbestimmenden Bedienungsanleitung für den Einzelverkauf in einem Pappkarton aufgemacht.

Die Ware ist als "Träger mit mehreren Geräten der Position 8536 ausgerüstet, zum elektrischen Schalten und Steuern, einschließlich solcher mit eingebauten Geräten des Katipels 90, keine Vermittlungseinrichtung der Position 8517, für eine Spannung von 1000 V oder weniger, kein Steuerschrank für numerische Steuerungen mit eingebauter automatischer Datenverarbeitungsmaschine, speicherprogrammierbare Steuerung, nicht von den TARIC-Unterpositionen 8537 1091 10 bis 8537 1091 73 erfasst" einzureihen. | ELECTRIC,ELECTRONIC,KEYPADS,PROGRAMMABLE,SOFTWARE,THYRISTORS |
| FRBTIFR-BTI-2025-03118 | FR | 01/07/2025 | 30/06/2028 | 8504408390************ | Règles générales 1 et 6 : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
Note 2.a) de la section XVI : les parties consistant en articles compris dans l'une quelconque des positions des chapitres 84 ou 85 (à l'exception des nos 8409, 8431, 8448, 8466, 8473, 8487, 8503, 8522, 8529, 8538 et 8548) relèvent de ladite position, quelle que soit la machine à laquelle elles sont destinées.
Avis de classement 850440/ 1- Appareil d'alimentation électrique ininterrompue, par analogie.
NESH de la position tarifaire 8504, paragraphe II, alinéa A) : les redresseurs qui permettent de transformer un courant alternatif mono‑ ou polyphasé en courant continu, généralement avec modification simultanée de la tension.
NENC de la position tarifaire 8504 publiées au JOUE n° C119/346 du 29/03/19, reprenant les redresseurs. | VALID |  |  | fr |  | 01/07/2025 | FR005400 SND2R - Pole RTC
11 RUE DES MESSAGERIES IM. LE FORUM
57036 METZ
FR | Redresseur, ayant pour fonction de transformer le courant alternatif généré par un moteur électrique (alternateurs) en courant continu pour alimenter la batterie de la voiture, sous forme de boîtier moulé en plastique de forme rectangulaire contenant une trace de cuivre et une plaque en aluminium rivetée. 
Boîtier rempli de gel silicone comportant une carte de circuit imprimé composé de 4 semis conducteurs à cristal de silicium (MOSFET) et d’un capteur de température. 
Destiné à être intégré dans un onduleur/redresseur de courant suivant le mode de fonctionnement (regen/motor). | ALTERNATING CURRENT CONVERTERS,ALUMINIUM,CONVERTERS,ELECTRIC,FOR MOTOR VEHICLES,FOR VEHICLES,PRINTED CIRCUITS,RECTIFIERS,WITH PRINTED CIRCUITS |
| FRBTIFR-BTI-2022-08440 | FR | 17/02/2023 | 31/12/2025 | 85044086************** | Règles générales 1 et 6 : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
Note 3 de la section XVI : Sauf dispositions contraires, les combinaisons de machines d'espèces différentes destinées à fonctionner ensemble et ne constituant qu'un seul corps, ainsi que les machines conçues pour assurer deux ou plusieurs fonctions différentes, alternatives ou complémentaires, sont classées suivant la fonction principale qui caractérise l'ensemble, ici la fonction d'onduleur.
NESH de la position tarifaire 8504, partie II, paragraphe B) qui reprennent les onduleurs qui permettent de transformer un courant continu en courant alternatif. | INVALID | 61 |  | fr | Montreuil | 17/02/2023 | DIRECTION GÉNÉRALE DES DOUANES ET DROITS INDIRECTS - BUREAU E1
11 RUE DES DEUX COMMUNES
93558 MONTREUIL CEDEX
FR | Armoire de conversion d'énergie. L'armoire permet la conversion de courant continu (DC) en courant alternatif (AC). L’onduleur a une puissance de conversion de 120kW. L'armoire peut être connectée à des batteries (côté DC) et à un transformateur de tension (BT/BT). Les batteries et le transformateur seront transportés séparément. L'armoire est composée d'un filtre, d'un convertisseur et d'organes de coupures (disjoncteurs, fusibles). | CONVERTERS,FOR ELECTRICITY,FOR ENERGY,INVERTERS,STATIC CONVERTERS |
| FRBTIFR-BTI-2023-00324 | FR | 22/03/2023 | 31/12/2025 | 8504408590************ | Règles générales 1 et 6 : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
NESH de la position tarifaire 8504, paragraphe II, alinéa B, reprenant les onduleurs. | INVALID | 61 |  | fr | Montreuil | 22/03/2023 | DIRECTION GÉNÉRALE DES DOUANES ET DROITS INDIRECTS - BUREAU E1
11 RUE DES DEUX COMMUNES
93558 MONTREUIL CEDEX
FR | Onduleur à double conversion au format tour ou rack, équipé de batteries au plomb et de cartes électroniques.
Ils sont destinés à protéger les serveurs, data centers, les équipements industriels, les stations de travail ou les dispositifs de vidéo surveillance.
Plage de tension d’entrée : 110 à 300 VAC.
Puissance électrique de sortie : 1 KVA à 6 KVA. | CAPACITY < 7.5 KVA,FOR PROTECTION AGAINST OVER-VOLTAGE,INVERTERS,STATIC CONVERTERS |
| DEBTI12366/25-1 | DE | 01/07/2025 | 30/06/2028 | 8467292000************ | AV 1 / AV 6 / AV 3 b) / AV 5 a)
ZAnm 1 ABS XVI | VALID |  |  | de | HANNOVER | 30/06/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Akku-Oberfräse/ -Kantenfräse (Abbildung siehe Anlage)
- bestehend aus einem von Hand zu führenden Gerät mit eingebautem Elektromotor, Drehzahl-
  Regelelektronik, stufenlos einstellbarer Frästiefe mit zusätzlicher Feinjustierung, Doppelrohr-
  führung, Spindelarretierung, LED-Arbeitslicht, Handgriff mit Softgrip, Parallelanschlag, Kopier-
  hülse, Zirkelspitze, Späneschild, Zweihand-Aufsatz, Kantenfräsaufsatz, Maulschlüssel sowie
  Spannzangen 6 mm und 8 mm,
- im maßgebenden Zeitpunkt ohne Akku und Ladegerät,
- dient zum Fräsen von Nuten, Kanten, Profilen und Langlöchern in Hölzer,
- in einer gemeinsamen, zum dauernden Gebrauch geeigneten Aufbewahrungstasche mit
  einem Absaugadapter und einer Bedienungsanleitung (Beipack).
Die Akku-Oberfräse/ -Kantenfräse bestimmt den Charakter des Ganzen.

"Von Hand zu führendes Werkzeug mit eingebautem Elektromotor, keine Bohrmaschine
  oder Säge, zum Betrieb ohne externe Energiequelle (Warenzusammenstellung in Auf-
  machung für den Einzelverkauf aus einer Akku-Oberfräse/ -Kantenfräse - charakterbe-
  stimmend - und Beipack)" | BATTERY-OPERATED,BY BATTERY,ELECTRIC,FOR MILLING,FOR WORKING IN THE HAND,LED,MACHINE TOOLS,WITH ELECTRIC MOTOR,WOOD |
| FRBTIFR-BTI-2024-04077 | FR | 11/07/2024 | 31/12/2025 | 8507600038************ | Règles générales 1 et 6  : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
Chapitre 85, Note 3): reprenant et présentant les accumulateurs électriques.
NESH de la position 8507: reprenant les accumulateurs électriques. | INVALID | 61 |  | fr | Montreuil | 11/07/2024 | DIRECTION GÉNÉRALE DES DOUANES ET DROITS INDIRECTS - BUREAU E1
11 RUE DES DEUX COMMUNES
93558 MONTREUIL CEDEX
FR | Modules pour l’assemblage de batteries d’accumulateurs électriques au lithium-ion ayant les caractéristiques suivantes: 
-Longueur: 355mm
-Largeur: 151,3mm
-Hauteur: 108,1mm
-Poids: 12,2Kg
La puissance des modules est de 458Wh ou plus mais n’excède pas 3510Wh.
Les modules peuvent se décliner sous deux références avec des puissances et des tensions différentes:
- Puissance pour le modèle 2P6S: 2254,32 Wh avec capacité de 116Ah.
- Tension pour le modèle 2P6S: 22,02V
- Puissance pour le modèle 3P4S: 2554 Wh avec capacité de 174Ah
- Tension pour le modèle 3P4S: 14,68V | ACCUMULATORS,BATTERY-OPERATED,BY BATTERY,LITHIUM |
| DEBTI42101/24-2 | DE | 21/02/2025 | 18/12/2025 | 8708999300********0*** | AV 1 / AV 6
Anm 1 l) ABS XVI / Anm 3 ABS XVII
ErlKN Pos 8708 (HS) RZ 01.1 bis 03.1 | INVALID | 61 |  | de | HANNOVER | 17/02/2025 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Nabe, 
- in Form eines fahrzeugspezifisch gefertigten kreisförmigen Erzeugnisses mit 16 kreisförmig 
  angeordneten Lochungen und einer zentrischen Lochung, 
- aus gesenkgeschmiedetem Stahl, 
- mit einem Außendurchmesser von ca. 291 mm und einer Höhe von ca. 90 mm, 
- wird in Kraftfahrzeugen für den Transport von Waren (Untertage-Muldenkippern) eingebaut 
  und dient als Bestandteil einer elastischen Verbindungskupplung zwischen dem Schwungrad 
  des Dieselmotors und der Eingangswelle des Versatzgetriebes, 
- nicht für die industrielle Montage,
- aufgrund der objektiven Merkmale (u. a. Form, Abmessungen) und Eigenschaften erkennbar 
  hauptsächlich für Kraftfahrzeuge des Kapitels 87 bestimmt, 
- keine Ware des Abschnitt XVI, da nach der Anmerkung 1 l) zum Abschnitt XVI Waren des 
  Abschnitt XVII aus dem Abschnitt XVI ausgenommen sind.

"Teil für Kraftfahrzeuge der Position 8704 (Nabe), anderes als in den Unterpositionen 8708 1010 bis 8708 9910 genannte, aus gesenkgeschmiedetem Stahl" | MOTOR CARS,MOTOR VEHICLE PARTS,OF BASE METALS,OF STEEL,SECTIONS |
| DEBTI26959/23-1 | DE | 25/01/2024 | 12/11/2025 | 8536699099************ | AV 1 / AV 6
Anm 2 a) ABS XVI / Anm 3 ABS XVI | INVALID | 68 |  | de | HANNOVER | 22/01/2024 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | sog. gedruckte Schaltung, bestückt mit Bauteilen,
im Wesentlichen bestehend aus einer mit passiven Bauelementen bestückten, flexiblen gedruckten Schaltung (FPCA) mit insgesamt 16 angebrachten Anschlüssen für die Kontaktierung an Batteriezellen einerseits und einem Steckverbinder mit 27 belegten Kontakten zur Kontaktierung an ein übergeordnetes Batteriemanagementsystem (BMS) eines Fahrzeugs (nicht Gegenstand dieser vZTA-Entscheidung) anderseits, mit Sicherungen zum Überspannungsschutz und mit NTC-Widerständen zur Erfassung von Temperatur, zum Einbau in eine Fahrzeugbatterie.
Die Ware dient nach dem Einbau in eine wiederaufladbare Fahrzeugbatterie und dem Anschluss an das Batteriemanagement (beide Waren nicht Gegenstand dieser vZTA-Entscheidung) eines elektrisch angetriebenen Fahrzeugs dem elektrischen Verbinden von Stromkreisen (kennzeichnende Hauptfunktion).

Die Ware ist als "elektrisches Gerät zum Verbinden von elektrischen Stromkreisen, für eine Spannung von  1000 V oder weniger, Steckvorrichtung, nicht für Koaxialkabel oder gedruckte Schaltungen, nicht für bestimmte Luftfahrzeuge, nicht von den TARIC-Codes 8536 6990 82 bis 8536 6990 86 erfasst" einzureihen. 

Anhang: 2 Abbildungen | COMPUTER PORTS,CONTACT ELEMENTS,ELECTRIC,FOR ELECTRICAL CIRCUITS,FOR MOTOR VEHICLES,FOR VOLTAGE NOT > 1000 V,OF PLASTICS,SECTIONS,SOCKETS |
| FRBTIFR-BTI-2024-07028 | FR | 07/01/2025 | 06/01/2028 | 85414300************** | Règles générales 1 et 6  : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
NESH de la position tarifaire 8541, point B paragraphe 2, reprenant les cellules photovoltaïques ou photopiles. | VALID |  |  | fr |  | 07/01/2025 | FR005400 SND2R - Pole RTC
11 RUE DES MESSAGERIES IM. LE FORUM
57036 METZ
FR | Panneau solaire sans onduleur et sans câble, d'une puissance maximale de 500 W. | AS PANELS,MADE UP INTO PANELS,PANELS,PHOTOVOLTAIC CELLS,SOLAR CELLS |
| DEBTI17334/25-1 | DE | 14/07/2025 | 13/07/2028 | 85371091************** | AV 1 / AV 6 / AV 3 c)
Anm 3 ABS XVI | VALID |  |  | de | HANNOVER | 08/07/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Sogenanntes "Energie-Management-System", kombinierte Maschine in Form einer elektronischen Schaltung (u.a. mit Mikrocontroller und Speicherbausteinen ausgerüstet) in einem Gehäuse mit Status-LED und LC-Display auf der Vorderseite und Halterung zur Montage auf einer Hutschiene an der Rückseite (Abmessungen: 53,6 mm x 90 mm x 60 mm, siehe Abbildung), mit Anschlüssen für die Daten-Kommunikation in Netzwerken (RS485, RS422, Ethernet, USB), mit internem Speicher (4 GB), mittels Software-Algorithmus arbeitend und mit Möglichkeit zu Konfiguration, Back-Up und Firmware-Update via USB, für eine Betriebsspannung von 12...24 V, in drei verschiedenen Ausführungen hinsichtlich der Größe der anschließbaren Photovoltaikanlage (bis 15, 100 oder 2000 kWp), nach Anschluss an eine Photovoltaikanlage zum fortlaufenden Messen und Protokollieren der Ausgangsleistung des Wechselrichters dieser Anlage, zum Senden der Daten an einen externen Web-Server und an ein externes Display, zum Begrenzen der Einspeiseleistung der Photovoltaikanlage durch Steuern des Wechselrichters und Abgabe der Überschussleistung an externe Verbraucher, ohne kennzeichnende Haupttätigkeit. Die Einreihung erfolgt in die letztgenannte der gleichermaßen in Betracht kommenden Positionen.

Die Ware ist als "speicherprogrammierbare Steuerung, für eine Spannung von 1000 V oder weniger, kein Steuerschrank für numerische Steuerungen mit eingebauter automatischer Datenverarbeitungsmaschine" einzureihen. | ELECTRONIC,HOUSINGS,LED,MEMORIES,MICROCONTROLLERS,SOFTWARE,USB (UNIVERSAL SERIAL BUS) |
| FRBTIFR-BTI-2024-05679 | FR | 03/10/2024 | 06/11/2025 | 84714900************** | Règles générales 1 et 6  : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
Règle générale 5a : Les étuis pour appareils photographiques, pour instruments de musique, pour armes, pour instruments de dessin, les écrins et les contenants similaires, spécialement aménagés pour recevoir un article déterminé ou un assortiment, susceptibles d'un usage prolongé et présentés avec les articles auxquels ils sont destinés, sont classés avec ces articles lorsqu'ils sont du type normalement vendu avec ceux-ci.
Note 4 de la section XVI : Lorsqu'une machine ou une combinaison de machines sont constituées par des éléments distincts (même séparés ou reliés entre eux par des conduites, des dispositifs de transmission, des câbles électriques ou autre aménagement) en vue d'assurer concurremment une fonction bien déterminée comprise dans l'une des positions du chapitre 84 ou du chapitre 85, l'ensemble est à classer dans la position correspondant à la fonction qu'il assure.
Note 6 A du chapitre 84, définissant les machines automatiques de traitement de l’information.
NESH de la position tarifaire 8471, partie I paragraphe A, reprenant les  machines automatiques de traitement de l'information et leurs unités. | INVALID | 68 |  | fr | Montreuil | 03/10/2024 | DIRECTION GÉNÉRALE DES DOUANES ET DROITS INDIRECTS - BUREAU E1
11 RUE DES DEUX COMMUNES
93558 MONTREUIL CEDEX
FR | Ensemble destiné à la formation des forces de polices et forces militaires, composé de :
- Un ordinateur portable
- Un casque de réalité virtuelle
- Un routeur WIFI
- Une réplique d'arme de type airsoft d'une puissance inférieur a 2 joules
- D'un tracker pour l'arme (permettant de suivre sa position dans la réalité virtuelle)
- D'un tracker pour la main ne portant pas l'arme
- Chargeurs et câbles pour les différents équipements
- Multiprise électrique.
L’ensemble est conditionné dans une mallette de transport renforcée. | COMPUTERS,ELECTRICAL SOCKETS,ENSEMBLES,FOR DATA PROCESSING,HELMETS,MACHINERY,WEAPONS |
| FRBTIFR-BTI-2025-03194 | FR | 16/07/2025 | 15/07/2028 | 8708991090************ | Règles générales 1 et 6: le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
NESH de la position 8708, Point L) reprenant les pédales d’accélérateurs.
NENC de la position tarifaire du 8708, publiées au JOUE n° C 119/378 du 29.3.2019, relatives aux parties et accessoires des véhicules automobiles des n° 8701 à 8705 renvoyant aux NENC de la position tarifaire du 8707 10 10 définissant les articles destinés à l’industrie du montage.
NENC de la position 8708 99 10 à 8708 99 97 publiées au JOUE n° C119/379 du 29/03/2019 reprenant les autres parties et accessoires des véhicules automobiles des n° 8701 à 8705. | VALID |  |  | fr |  | 16/07/2025 | FR005400 SND2R - Pole RTC
11 RUE DES MESSAGERIES IM. LE FORUM
57036 METZ
FR | Pédale d’accélérateur, spécialement conçue pour être montée dans des véhicules de tourisme sans permis avec moteur thermique ou électrique n'excédant pas 500 cm3.
Ces pédales sont destinées à l'industrie de l'assemblage automobile.
Le produit peut se décliner sous différents modèles. | ASSEMBLIES,MOTOR CARS,MOTOR VEHICLE PARTS,PEDALS |
| ROBTI2025/005087 | RO | 16/09/2025 | 15/09/2028 | 8544429090************ | Regulile generale pentru interpretarea Nomenclaturii combinate: 1 și 6. | VALID |  |  | ro |  | 16/09/2025 | ROANV001 AUTORITATEA VAMALA ROMANA
ALEXANDRU IVASIUC, 34-40, Sect.6
010144 BUCURESTI
RO | Produsele sunt busbaruri de cupru, utilizate ca elemente de legătură electrică internă în modulele de baterii pentru vehicule electrice. Acestea sunt componente semifabricate care se conectează la celulele electrice și echipamentele de management al energiei (BMS – Battery Management System), în combinație cu alte elemente electrice și electronice. Produsul este izolat cu Bandă de fibra de sticla si banda adeziva din PVC.
Produsul este echipat cu șuruburi TORX M6 și capace din plastic la capete, care formeaza un element de conexiune electrică. | CONTACT ELEMENTS,INSULATED,INSULATED ELECTRICAL CONDUCTORS,OF METAL |
| DEBTI33199/24-1 | DE | 27/01/2025 | 26/01/2028 | 8507600090************ | AV 1 / AV 6 / AV 3 b)
Anm 3 Kap 85 | VALID |  |  | de | HANNOVER | 23/01/2025 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Akku Starter-Kit (Abbildung siehe Anlage),
- bestehend aus vier Lithium-Ionen-Akkumulatoren mit den Abmessungen (BxHxT) 99 mm x 
  131 mm x 87 m, einem Gewicht von 1,36 kg und einer Kapazität von 10 Ah, mit Display zur 
  Ladeanzeige sowie Batteriemanagement-Elektronik,
- zur Verwendung als wiederaufladbare Energiequelle für eine Videokamera,
- zusammen mit Beipack (Ladegerät sowie zwei verschiedenen Akkuadapterplatten) in einer 
  gemeinsamen Verkaufsumschließung.
Die Lithium-Ionen-Akkumulatoren bestimmen den Charakter des Ganzen.

"Elektrischer Akkumulator, Lithium-Ionen-Akkumulator, nicht von den TARIC-Codes 
  8507 6000 10 bis 8507 6000 88 erfasst, in Warenzusammenstellung in Aufmachung 
  für den Einzelverkauf mit nicht charakterbestimmendem Beipack“ | ACCUMULATOR CHARGERS,ACCUMULATORS,ADAPTERS,ELECTRIC,POWER SUPPLY UNITS |
| DEBTI38212/24-1 | DE | 10/02/2025 | 09/02/2028 | 85076000************** | AV 1 / AV 6
Anm 3 Kap 85 | VALID |  |  | de | HANNOVER | 04/02/2025 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Batteriehaus (Abbildung siehe Anlage),
- Stromspeichereinheit aus 6 bis zu 8 Batteriemodulen mit Lithium-Ionen-Akkumulatoren, 
  Batteriemanagement und Wechselrichter in einem  Standgehäuse (Abmessungen HxBxL: 
  2418 mm x 5029 mm x 1583 mm), mit einer Gesamtkapazität von bis zu 148 kWh,
- nach Aufladen des Akkumulators über einen Dieselgenerator (nicht Gegenstand der vZTA) 
  oder mit Netzstrom zur Verwendung als Stromspeicher zur regelmäßigen Stromversorgung.

"Elektrischer Akkumulator, Lithium-Ionen-Akkumulator"  | ACCUMULATORS,BATTERY HOUSINGS,IN A HOUSING,INVERTERS,POWER SUPPLY UNITS |
| FRBTIFR-BTI-2024-05592 | FR | 02/01/2025 | 01/01/2028 | 8481805990************ | Règles générales 1 et 6 : le classement est déterminé par les notes de section et de chapitre, ainsi que par le libellé de position, de sous-position et de code NC.
Règle générale 3b): les mélanges et les assortiments sont classés à la matière ou à l’article qui confère à l’ensemble son caractère essentiel, en l’occurrence ici la vanne de régulation de débit de gaz.
NESH de la position 8481: reprenant les articles de robinetterie et organes similaires pour tuyauteries, chaudières, réservoirs, cuves, ou contenants similaires y compris les détendeurs et les vannes thermostatiques. | VALID |  |  | fr |  | 02/01/2025 | FR005400 SND2R - Pole RTC
11 RUE DES MESSAGERIES IM. LE FORUM
57036 METZ
FR | Ligne de transfert consistant en un tube (ou tuyau) rigide en acier inoxydable, isolée du vide utilisée dans la distribution de gaz. Cette ligne de transfert est munie de deux vannes de régulation de débit pour gaz hélium, d’un capteur de pression (mesure de pression) et d’un dispositif de sécurité pour éviter toute surpression, d’un port de pompe à vide et des soufflets pour la contraction thermique. Cette ligne de transfert fait partie intégrante d’un appareil  permettant la liaison entre un camion citerne et une unité de stockage de gaz hélium. | GAS,HELIUM,OF STAINLESS STEEL,ON-LINE,PROCESS CONTROL VALVES,STAINLESS STEELS,TANKS, CONTAINERS |
| DEBTI33968/24-1 | DE | 14/01/2025 | 13/01/2028 | 85371091************** | AV 1 / AV 6
Anm 4 ABS XVI
ErlKN Pos 8537 (HS) RZ 06.0 | VALID |  |  | de | HANNOVER | 10/01/2025 | Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Systembediengerät, sog. "Keyboard", im Wesentlichen bestehend aus
- einer elektronischen Schaltung in einem spezifisch geformten flachen Kunststoffgehäuse, mit einem vier-Achsen Joystick, mit 35 Tasten, einem LC-Display, mit elektrischen Anschlüssen (u.a. RS-232, RS-422, RS-485, USB), mit Firmware (speicherprogrammierbar), 
- zum separaten Steuern von Kameras, welche eine ferngesteuerte Richtungs- und Zoomsteuerung ermöglichen (PTZ-Kameras), Netzwerkrekordern (NVR) und digitalen Videorekordern (DVR) (alle drei nicht Gegenstand dieser vZTA-Entscheidung) mittels Senden von Steuersignalen,
- in funktioneller Einheit mit einem 12 V DC Netzteil (Gleichrichter) zur Spannungsversorgung des Systembediengeräts.

Die Ware ist als "Steuerung, zum elektrischen Schalten oder Steuern, keine Vermittlungseinrichtung der Position 8517, für eine Spannung von 1000 V oder weniger, kein Steuerschrank für numerische Steuerungen mit eingebauter automatischer Datenverarbeitungsmaschine, speicherprogrammierbare Steuerung" einzureihen. | CONTROL PADS,FIRMWARE,JOYSTICKS,KEYPADS,LCD,TRAFFIC CONTROL EQUIPMENT |
| DEBTI33225/25-1 | DE | 06/10/2025 | 05/10/2028 | 84879090************** | AV 1 / AV 6 | VALID |  |  | de | HANNOVER | 30/09/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Druckausgleichselement (Abbildung siehe Anlage)
- aus einem spezifisch gefertigten, kappenartigen runden Kunststoffkörper mit Rastnasen, mit
  einer spezifischen Vlieslage aus Polyester und einer Membran aus EPDM,
- dient nach Einbau in Geräten unterschiedlicher Abschnitte des Zolltarifs (z.B. trocken
  laufenden E-Motoren, E-Achsen, Invertern und Batteriesystemen) dem kontinuierlichen
  bidirektionalem Druckausgleich.

"Nichtelektrische Maschinenteile, keine Schiffsschrauben und Schraubenflügel dafür, andere als aus Gusseisen, Eisen oder Stahl - Druckausgleichselement" | AXLES,ENGINES,FOR MECHANICAL VENTILATION,MACHINE PARTS,NON-ELECTRIC,SECTIONS |
| DEBTI26478/25-1 | DE | 08/09/2025 | 07/09/2028 | 9021400000************ | AV 1 / AV 6 / AV 3 b) / AV 5 b)
ErlKN Pos 9021 (KN) RZ 10.0, 11.0 / ErlKN AV 3 (HS) RZ 11.0, 12.0, 16.0, 19.1, 25.0, 26.0, 27.0, 28.1, 29.1, 29.2, 38.1 | VALID |  |  | de | HANNOVER | 03/09/2025 | DE005100 Hauptzollamt Hannover
Waterloostraße 5
30169 Hannover
DE | Sog. Hörbrille, in Form einer Warenzusammenstellung in Aufmachung für den Einzelverkauf, bestehend aus folgenden Bestandteilen:
1. Eine "Hörbrille", in Form einer zusammengesetzten Ware aus einer Brille und einem in die Bügel integrierten unvollständigen Schwerhörigengerät, bestehend aus einem Brillengestell, das mit Korrektions- bzw. Sonnenschutzgläsern oder mit Gläsern ohne Funktion bestückt ist  (Maße: Glasbreite: 54 mm, Stegbreite: 18 mm, Glashöhe: 42 mm, Gesamtbreite der Fassung: 129 mm, Bügellänge: 150 mm)
und  aus einem elektronischen Schwerhörigengerät aus Mikrofon, für Erwachsene mit leichtem bis mittlerem Hörverlust. Die Hörtechnologie bietet eine gezielte Sprachverstärkung und Umgebungsgeräuschreduzierung mit einer Frequenzbandbreite von 200Hz bis 5000Hz, die Steuerung und Kalibrierung erfolgt intuitiv per App auf einem Smartphone (nicht Gegenstand dieser vZTA-Entscheidung). Das Hörgerät stellt den charakterbestimmenden Bestandteil der Ware dar aufgrund des Verwendungszwecks. Die Brille kann, muss aber nicht als Sehhilfe oder Schutzbrille dienen, abhängig von der individuellen Ausstattung, zudem bildet sie gleichzeitig den Tragkörper des Hörgeräts im Sinne der ErlKN Pos. 9021 (KN) RZ 11.0, wonach Hörhilfen auch in Form von Brillen als Schwerhörigengeräte erfasst werden
2. ein Ladegerät zum induktiven Aufladen der Batterien, 3. ein Mikrofaser-Reinigungstuch für die Brillengläser und 4. ein Brillenetui zur Aufbewahrung der Vorrichtung.
Alle Bestandteile sind gemeinsam in einem Karton verpackt.

Die Ware wird als "Schwerhörigengerät" eingereiht. | CONTROL BUTTONS,ELECTRONIC,HEARING AIDS,SPECTACLE CASES,SPECTACLES |